@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@media print {
  @page {
    size: 330mm 215mm landscape;
    margin: 0;
  }
  
  body * {
    visibility: hidden;
  }
  
  #print-container, #print-container * {
    visibility: visible;
  }
  
  #print-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 330mm;
    height: auto;
    background: white;
    visibility: visible !important;
  }

  .no-print {
    display: none !important;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 4px;
  }
}
